* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: RammettoOne;
  src: url('/fonts/RammettoOne-Regular.ttf');
}

@font-face {
  font-family: Sriracha;
  src: url('/fonts/Sriracha-Regular.ttf');
}

body {
  user-select: none;
}

.container {
  text-align: center;
  background-image: url('/image/papel.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
}

.title {
  font-family: RammettoOne;
  display: inline-block;
  margin: 4rem 0 2rem;
  color: #2b7ee3;
}

.return {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: #04aa6d;
  border: none;
  font-size: 1.2em;
  padding: 5px 1rem;
  border-radius: 5px;
}

.return:active {
  background-color: #191919;
}

.return a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.box-content {
  padding: 0 2rem;
}

.image-text {
  width: 100%;
  max-width: 550px;
  border-radius: 1rem;
}

p {
  font-size: 2em;
  font-family: Sriracha;
  color: #13354a;
  text-align: justify;
  margin: 1.2rem 0;
}
